body {
  
  padding: 15% 0% 0% 0%;
  background-color:  #28282B;
}

#title-container{
  margin: auto;
  padding: 10px;
}
#title{
    text-align: center;
    color:white;
    font-size: 40px;
    font-family: 'Trebuchet MS', sans-serif;
    
}

.grid{
  width: 50%;
  color: white;
  margin: auto;
  text-align: center;

}

.btn-primary{
  margin: 5px 5px 5px 5px;
  
}

.input-group{
  width:40%;
  margin:auto;
}
.submitButton{
  margin:auto;
}