body {
  
  padding: 15% 0% 0% 0%;
  background-color:  #28282B;
}

#activeproj {
  z-index: 10;
}

#title-container{
  margin: auto;
  padding: 10px;
}
#title{
    text-align: center;
    color:white;
    font-size: 40px;
    font-family: 'Trebuchet MS', sans-serif;
}

.grid{
  width: 50%;
  color: white;
  margin: auto;
  text-align: center;
}

.btn-primary{
  margin: 5px 5px 5px 5px;
}

.input-group{
  width:70%;
  margin:auto;
}
.submitButton{
  margin:auto;
}

.projects{
  width: 70%;
  margin: auto;
  text-align: center;
  
}
.list-group-item{
  margin: 10px 10px 10px 10px;
  color: white;
  background-color: #0d6efd;
  border-radius: 5px;
}

#loading-text{
  color: white;
  margin: auto;
}

.hide{
  display: none !important;
}

#go-back{
  margin-top: -20%;
  margin-left: 5%;
}

.alert{
  width: 30%;
  margin-left: 65%;
  margin-top: -10%;
  background-color: #198754;
  color:white;
    
    font-family: 'Trebuchet MS', sans-serif;
}

.del{
  color: #dc3545 !important;
}


#port{
  color: white;
}


.form-label{
  background-color: #28282B;
  color: white;
}